<!DOCTYPE html lang="en">
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/gallery_app.js"></script>
  <style>
    .gallery_text{
      text-align: center;
    }
    .gallery_category{
      text-align: right;
      color: #542788;
    }
    .jumbotron{
      background-color: #FFFFFF;
      opacity: 0.6;
      border-style:solid;
    }
    .jumbotron p{
      font-size: 16px;
    }
    .jumbotron:hover{
      opacity: 1;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Apps Demo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container-fluid" ng-app="displayApp" ng-controller="galleryController">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Apps" ng-model="searchApps">
      </div>
    </form>
    <div class="row-fluid">
      <div class="col-xs-3 col-md-3" ng-repeat="item in gallery_items | filter:searchApps">
        <div class="jumbotron">
          <a href="{{item.url}}">
            <p class="gallery_text"> {{item.title}} </p>
          </a>
          <h6 class="gallery_category"> {{item.category}} </h6>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


